.rank-icon {
  border-radius: 15px;
  padding: 3px;
  text-align: center;
  font-size: calc(100% - 5px);
  width: 150px;
}

.image-container {
  margin-top: auto;
  margin-bottom: auto;
  text-align: end;
}
