<nav class="row m-0 fs-5 fw-bold hover">
  <!--Icon-->
  <div class="col-4 d-flex flex-row">
    <img class="logo" src="./assets/img/thelair_logo.png" />
    <p class="mt-3 align-self-center text-center">
      TheLair.eu <br />
      Medusa
    </p>
  </div>

  <!--Links-->
  <div
    id="links"
    class="col-4 d-flex flex-row justify-content-around text-decoration-none"
  >
    <a class="link" href="/"
      ><fa-icon [icon]="['fas', 'tachometer-alt']"></fa-icon>Dashboard</a
    >
    <a class="link"
      ><fa-icon [icon]="['fas', 'exchange-alt']"></fa-icon>Zuweisungen</a
    >
    <a class="link" href="https://tcp-intern.thelair.eu/" target="_blank"
      ><fa-icon [icon]="['fas', 'external-link-alt']"></fa-icon>TCP</a
    >
  </div>
  <div class="col-4 d-flex flex-row justify-content-end">
    <app-ui-rank
      name="{{ username }}"
      role="{{ role }}"
      color="{{ color }}"
      class="align-self-center"
      (clickUser)="clickUser()"
    ></app-ui-rank>
  </div>
  <div [ngClass]="showSelect ? 'custom-select' : 'custom-select-disabled'">
    <div class="menu-entry mt-2" style="border-top: 0px">
      <fa-icon [icon]="['fas', 'user']"></fa-icon>Profil
    </div>
    <div class="menu-entry" (click)="clickStatistics()">
      <fa-icon [icon]="['fas', 'chart-bar']"></fa-icon>Statistiken
    </div>
    <div class="menu-entry">
      <fa-icon [icon]="['fas', 'list']"></fa-icon>Arbeitsverlauf
    </div>
    <div class="menu-entry" (click)="logout()">
      <fa-icon [icon]="['fas', 'sign-out-alt']"></fa-icon>Logout
    </div>
  </div>
</nav>
